{{#if resume.awards.length}}
<section id="awards">
	<h3 class="title-section">Honors & Awards</h3>
	<div class="divider"></div>
	{{#each resume.awards}}
		<div class="item">
			<div class="flex-between">
				<div class="title">
					{{title}}
				</div>
				<div class="date">
					{{date}}
				</div>
			</div>
			<i class="awarder">
				{{awarder}}
			</i>
			<div class="summary">
				{{summary}}
			</div>
		</div>
	{{/each}}
</section>
{{/if}}
