{{#if resume.publications.length}}
<section id="publications">
	<h3 class="title-section">Publications</h3>
	<div class="divider"></div>
	{{#each resume.publications}}
	<div class="item">
		<div class="flex-between">
			<div class="title">
				{{name}}
			</div>
			<div class="date">
				{{releaseDate}}
			</div>
		</div>
		{{#if publisher}}
		<div>
			{{publisher}}
		</div>
		{{/if}}
		{{#if summary}}
			<div class="italic">
				{{summary}}
			</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
