{{#if resume.skills.length}}
<section id="skills">
	<h3 class="title-section">Skills</h3>
	<div class="divider mb"></div>
	{{#each resume.skills}}
		<div class="flex-between skill-item">
			<div class="title skill-title">
				{{name}}
			</div>
			<div>
				{{print_array keywords}}
			</div>
		</div>
	{{/each}}
	<div class="mb"></div>
</section>
{{/if}}
